<div class="switch-button">
  <input class="switch-button-checkbox" type="checkbox"></input>
  <label class="switch-button-label" for=""><span class="switch-button-label-span">ONE TIME</span></label>
</div>
