/* --- global --- */
@font-face {
    font-family: 'EightiesComeback BlkSmCn';
    src: url("EightiesComeback-BlkSmCn.otf" ) format("opentype");
}

@font-face {
    font-family: 'EightiesComeback ExtBdCond';
    src: url("EightiesComeback-ExtBdCond.otf" ) format("opentype");
}

@font-face {
    font-family: 'EightiesComeback SmBdSmCn';
    src: url("EightiesComeback-SmBdSmCn.otf" ) format("opentype");
}

@font-face {
    font-family: 'Reader Pro';
    src: url("reader-regular-pro.woff2" ) format("woff2");
}

@font-face {
    font-family: 'Reader Bold Pro';
    src: url("reader-bold-pro.woff2" ) format("woff2");
}

.announcement-bar__message {
    display: flex;
    font-family: 'Reader Pro';
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background-color: #F7C67B;
}

.announcement-bar__message span {
    padding-right: 28rem;
}


.image-with-text__content {
    max-width: 700px;
}

/* --- header --- */
sticky-header.header-wrapper {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__heading-logo {}

.header__heading-link {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
}

.header__menu-item,
.header__icon.header__icon--account,
.header__icon.header__icon--cart {
    display: inline-table;
    color: #27649C;
    font-family: 'Reader Pro', serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
}

.header__heading-link span.h2 {
    font-weight: bold;
}

.header__heading-link .abbr {
    font-weight: normal;
    font-family: 'Reader Pro';
}

.header__active-menu-item {
    font-weight: 700;
}

.header__icon.header__icon--account:hover,
.header__icon.header__icon--cart:hover {
    text-decoration: underline;
}

.menu-drawer__inner-container {
    font-family: 'Reader Pro';
}

.menu-drawer__inner-container .menu-drawer__utility-links a {
    font-family: 'Reader Pro';
}

/* --- footer --- */
.footer .footer__content-top {
    padding-top: 6rem;
}

.footer .footer__content-top .footer-block:first-child .footer-block__heading {
    font-family: "EightiesComeback ExtBdCond";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    text-transform: capitalize;
}

.footer .footer__content-top .footer-block:first-child .footer-block__details-content {
    font-family: 'Reader Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}

.footer .footer__content-top .footer-block:nth-child(n+2) .footer-block__heading {
    display: none;
}

.footer .footer__content-top .footer-block:nth-child(2) .footer-block__details-content {
    text-align: right;
    margin-bottom: 0.625rem;
}

.footer .footer__content-top .footer-block:nth-child(2) .footer-block__details-content > li {
    margin-right: 0;
}

.footer .footer__content-top .footer-block:nth-child(2) .footer-block__details-content li a {
    font-family: 'Reader Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    color: #fff;
}

.footer .footer__content-top .footer-block:nth-child(3) .footer-block__details-content {
    font-family: 'Reader Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer .footer__content-top .footer-block:nth-child(4) .footer-block__details-content {
    font-family: 'Reader Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: right;
}

.footer-block--newsletter {
    flex-direction: column;
    align-items: flex-start;
    max-width: 43rem;
    width: 100%;
}

.footer-block__newsletter {
    width: 100%;
}

.footer-block__newsletter #ContactFooter {
    margin: 0;
}

.newsletter-form  {
    max-width: unset;
}

.footer-block--newsletter .newsletter-form__field-wrapper {
    max-width: unset;
}

.footer-block--newsletter .newsletter-form__field-wrapper #NewsletterForm--footer {
    box-shadow: unset;
    border: solid 2px #fff;
    border-radius: 10px;
    flex: 8;
    font-family: 'Reader Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 31px;
    color: #fff;
    padding: 10px 10px;
}

.footer-block--newsletter .newsletter-form__field-wrapper #NewsletterForm--footer::placeholder {
    opacity: 1;
    color: #FFF;
}

.footer-block--newsletter .newsletter-form__field-wrapper .newsletter-form__button {
    position: relative;
    flex: 2;
    padding: 15px 40px;
    background-color: #C0DAE5;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid #C0DAE5;
}

.footer-block--newsletter .newsletter-form__field-wrapper .newsletter-form__button:hover {
    color: #C0DAE5;
    background: #fff;
    transition: all 0.3s ease;
}

.footer-block--newsletter .newsletter-form__field-wrapper .newsletter-form__button span {
    font-family: 'Reader Pro';
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    white-space: nowrap;
}

.footer-block--newsletter .newsletter-form__field-wrapper .newsletter-form__button:hover span {
    color: #C0DAE5;
}

.footer-block--newsletter .footer__list-social {
    column-gap: 12px;
    margin-top: 65px;
}

.footer .footer__content-top .list-social__item .list-social__link svg{
    display: none;
}

.footer .footer__content-top .list-social__item .list-social__link {
    padding: 4px;
}

.footer .footer__content-top .list-social__item:last-child .list-social__link {
    padding-right: 0;
}

@media screen and (min-width: 990px) {
    sticky-header.header-wrapper .header {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .header--middle-right {
        grid-template-areas: 'navigation heading icons';
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .header--middle-right .header__heading {
        justify-self: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .header--middle-right .header__inline-menu {
        margin-left: 0;
        margin-top: 0;
        justify-self: start;
    }

    .header--middle-right .header__inline-menu li:nth-child(3) {
        display: none;
    }

    .header--has-menu:not(.header--middle-left):not(.header--middle-right) {
        padding-bottom: 0;
    }

    .header:not(.header--middle-left):not(.header--middle-right) .header__inline-menu {
        margin-top: 1.05rem;
    }

    .header--middle-right .header__icons .header__icon {
        padding: 0;
    }

    .header--middle-right .header__icons .header__icon.header__icon--account img {
        margin-top: 10px;
    }

    .header--middle-right .header__icons .header__icon.header__icon--cart {
        align-self: center;
    }

    .image-with-text.top-banner {
        margin-top: -92px;
    }

  	.header__heading-link span:first-child {
        font-size: 30px;
    }

    .header__menu-item,
    .header__icon.header__icon--account,
    .header__icon.header__icon--cart {
        font-size: 22px;
        line-height: 22px;
        padding-left: 26px;
        padding-right: 26px;
    }

    .header__icons .header__menu-item {
        padding-right: 52px;
    }

    .header__icon.header__icon--account:hover,
    .header__icon.header__icon--cart:hover {
        text-decoration: underline;
    }

    .multicolumn.selling-products .description p {
        padding-left: 20%;
        padding-right: 20%;
    }

    .footer .footer__content-top .footer-block:nth-child(1) .footer-block__details-content {
        max-width: 70%;
    }

    .footer-block--newsletter {
        margin-top: -60px;
    }
}

@media screen and (max-width: 989px) {
    .header__icons .small-hide {
        display: none;
    }
}

/* --- mobile --- */
@media screen and (max-width: 749px) {
    #Details-menu-drawer-container.menu-opening .header__icon.header__icon--menu {
        z-index: 20;
        right: 10px;
        left: unset;
        position: absolute;
        top: 10px;
        color: black;
    }

    #Details-menu-drawer-container.menu-opening #menu-drawer {
        top: 0;
        width: 100vw;
        /* height: 100vh; */
        height: calc(100vh - 37px);
    }

    .shopify-section-header-sticky #Details-menu-drawer-container.menu-opening #menu-drawer {
        top: 0px; 
        height: 100vh;
    }

    /* footer */
    .footer .footer__content-top .footer__blocks-wrapper.grid {
        display: -webkit-flex;
        display: flex;
    }
    
    .footer .footer__content-top .footer-block:nth-child(4) .footer-block__details-content {
        text-align: left;
    }

    .footer .footer__content-top .footer-block {
        margin-bottom: 0;
    }

    .footer .footer__content-top .footer-block:nth-child(1)   {-webkit-order: 1;order: 1;}
    .footer .footer__content-top .footer-block:nth-child(2)  {-webkit-order: 2;order: 2;}
    .footer .footer__content-top .footer-block:nth-child(3) {-webkit-order: 4;order: 4;}
    .footer .footer__content-top .footer-block:nth-child(4)  {-webkit-order: 3;order: 3;}
}
