#MainContent h2,
#MainContent h3 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    color: #011E42;
}

#MainContent p {    
    font-family: 'Glacial Indifference Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    
    color: #011E42;
}

.multicolumn.made-for-moms .multicolumn-list__item:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media screen and (min-width: 990px) {

    #MainContent .rich-text {
        padding-top: 135px;
        padding-bottom: 135px;
    }

    #MainContent .rich-text .rich-text__text {
        margin-top: 55px;
    }

    .multicolumn.made-for-moms > .page-width {
        padding: 0;
        max-width: unset;
    }
    
    .multicolumn.made-for-moms .multicolumn-card .multicolumn-card__image-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .multicolumn.made-for-moms .multicolumn-list__item:nth-child(1) .multicolumn-card__image-wrapper {
        padding-right: 40px;
    }

    .multicolumn.made-for-moms .multicolumn-list__item:nth-child(2) .multicolumn-card__info {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .multicolumn.made-for-moms .multicolumn-list__item:nth-child(3) .multicolumn-card__image-wrapper {
        padding-left: 40px;
    }

    .image-with-text .grid__item {
        padding: 30px;
    }

    .image-with-text .grid__item .image-with-text__content {
        padding: 0 !important;
    }

}
