.collection-grid-section {
  margin-top: 8rem;
}

.collection-grid-section #ProductGridContainer .collection h2 {
  font-family: 'EightiesComeback ExtBdCond';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 45px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.collection-grid-section #product-grid {
  max-width: 1148px;
  margin: 0 auto;
}

.product-grid .grid__item {
  padding-left: 3rem;
  padding-right: 3rem;
}

.card-wrapper {
  margin-bottom: 3.5rem;
}

.card-wrapper .card-information + .card {
  margin-bottom: 3rem;
}

.card-information__text.h5 {
  font-family: 'EightiesComeback ExtBdCond';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;

  color: #27649C;
}

.collection-cart-btn .button {
  margin-top: 17px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #F2A2A3;
  border-radius: 10px;
  box-shadow: none;

  font-family: 'Reader Bold Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #F2A2A3;
  padding: 1rem;
}

.collection-cart-btn .button:hover {
  color: #F2A2A3;
  background: #fff;
  transition: all 0.3s ease;
  box-shadow: none;
}

.collection-cart-btn .button .price-item {
  font-size: 18px;
  color: #fff;
}

.collection-cart-btn .button:hover .price-item {
  color: #F2A2A3;
  transition: all 0.3s ease;
}

.collection-cart-btn .button > span {
  white-space: nowrap;
}

@media screen and (max-width: 1280px) {
  .product-grid .grid__item {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .collection-cart-btn .button {
    padding: 1rem;
  }
  
  .collection-cart-btn .button span {
    font-size: 14px;
    line-height: 18px;   
  }
  
  .collection-cart-btn .button .price-item {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 750px) {
  .collection-grid-section {
    margin-bottom: 16rem !important;
  }
}  

@media screen and (max-width: 749px) {
  .product-grid .grid__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .collection-cart-btn .button {
    padding: 1rem;
  }

  .collection-cart-btn .button span {
    font-size: 16px;
    line-height: 18px;   
  }
  
  .collection-cart-btn .button .price-item {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .collection-grid-section {
    margin-top: 5rem;
  }

  .product-grid {
    flex-flow: column wrap;
  }

  .product-grid .grid__item {
    padding-left: 4px;
    padding-right: 4px;
    max-width: unset;
    width: 100%;
  }
}
